*{
  margin: 0;
  padding: 0;  
}

html,
body{
  color: #f4f5f6;
  font-size: 18px;
  background-color: #313131;
}

h1 {
  min-width: 100%;
  font-size: 6.9em;
  font-family: Lato, sans-serif;
  font-weight: 700px;
  line-height: 0.85;
  margin: 40px 0;
  
}

.App{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}